<p id="notice"><%= notice %></p>

<h1>Third Party Platforms</h1>

<table>
  <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>app_id</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @third_party_platforms.each do |platform| %>
      <tr>
        <td><%= link_to platform.uid, platform %></td>
        <td><%= platform.name %></td>
        <td><%= platform.app_id %></td>
        <td>
          <%= link_to 'Show', platform %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
