<p id="notice"><%= notice %></p>

<p>UID: <%= @third_party_platform.uid %></p>
<p>Name: <%= @third_party_platform.name %></p>
<p>App ID: <%= @third_party_platform.app_id %></p>

<%= link_to 'Back', third_party_platforms_path %>
