<p id="notice"><%= notice %></p>

<h1>Official Accounts Messages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @official_accounts_messages.each do |official_accounts_message| %>
      <tr>
        <td><%= link_to 'Show', official_accounts_message %></td>
        <td><%= link_to 'Edit', edit_official_accounts_message_path(official_accounts_message) %></td>
        <td><%= link_to 'Destroy', official_accounts_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Official Accounts Message', new_official_accounts_message_path %>
