<p id="notice"><%= notice %></p>

<h1>Official Accounts</h1>

<table>
  <thead>
    <tr>
      <th>app_id</th>
      <th>Name</th>
      <th>Alias</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @official_accounts.each do |official_account| %>
      <tr>
        <td><%= link_to official_account.app_id, [@third_party_platform, official_account] %></td>
        <td><%= official_account.nick_name %></td>
        <td><%= official_account.alias %></td>
        <td><%= link_to 'Show', [@third_party_platform, official_account] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @official_accounts %>
