<p id="notice"><%= notice %></p>

<h1>Official Accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @official_accounts.each do |official_account| %>
      <tr>
        <td><%= link_to 'Show', official_account %></td>
        <td><%= link_to 'Edit', edit_official_account_path(official_account) %></td>
        <td><%= link_to 'Destroy', official_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Official Account', new_official_account_path %>
