<p id="notice"><%= notice %></p>

<h1>Wechat User Authorizations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wechat_user_authorizations.each do |wechat_user_authorization| %>
      <tr>
        <td><%= link_to 'Show', wechat_user_authorization %></td>
        <td><%= link_to 'Edit', edit_wechat_user_authorization_path(wechat_user_authorization) %></td>
        <td><%= link_to 'Destroy', wechat_user_authorization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wechat User Authorization', new_wechat_user_authorization_path %>
